<p>Hi @Model.UserName,</p>

<p>Click the button below to confirm your email address @Model.Email<br/>

<a href="@Model.ValidationUrl">Confirm email address</a><br/><br/>

You can also copy the following link into your browser: @Model.ValidationUrl
</p>
<br />
<br />
<hr/>

<p>This is an automated message, please do not respond. If you encounter a difficulty, go to the <a href="@Model.BaseUrl">our website</a>.</p>